catboost==1.0.6
category_encoders==2.5.0
joblib==1.1.0
matplotlib==3.5.2
minepy==1.2.6
networkx==2.8.4
numpy==1.23.1
pandas==1.4.3
Pillow==9.2.0
plotly==5.9.0
pydicom==2.3.0
scikit_learn==1.1.1
scipy==1.8.1
seaborn==0.11.2
tqdm==4.64.0
xgboost==1.6.1
